{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block page_title %}
    PESONA SULTRA
{% endblock %}

{% block carousel %}
 <!-- CAROUSEL START -->
 <div class="carousel">
  <!-- List gambar -->
  <div class="list">
      <div class="item">
          <img src="/static/home/pulau-hoga.jpg">
          <div class="content">
              <div class="title">Wakatobi</div>
              <div class="topic">Dive</div>
              <div class="des">
                  <!-- Deskripsi -->
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                  placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                  quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                  laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
              </div>
              <div class="buttons">
                  <button><a href="/lokasi1">DETAIL</a></button>
              </div>
          </div>
      </div>
      <div class="item">
          <img src="/static/home/pulau_labengki.jpg">
          <div class="content">
              <div class="title">Pulau</div>
              <div class="topic">Labengki</div>
              <div class="des">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                  placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                  quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                  laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
              </div>
              <div class="buttons">
                <button><a href="/lokasi2">DETAIL</a></button>
              </div>
          </div>
      </div>
      <div class="item">
          <img src="/static/home/Rawa-aopa-2.jpg">
          <div class="content">
              <div class="title">Rawa</div>
              <div class="topic">Aopa Watumohai</div>
              <div class="des">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                  placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                  quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                  laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
              </div>
              <div class="buttons">
                <button><a href="/lokasi3">DETAIL</a></button>
              </div>
          </div>
      </div>
      <div class="item">
          <img src="/static/home/benteng-keraton-buton.jpg">
          <div class="content">
              <div class="title">Benteng</div>
              <div class="topic">Keraton Buton</div>
              <div class="des">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima
                  placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et
                  quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at
                  laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
              </div>
              <div class="buttons">
                <button><a href="/lokasi4">DETAIL</a></button>
              </div>
          </div>
      </div>
  </div>
  <!-- list thumnail -->
  <div class="thumbnail">
      <div class="item">
          <img src="/static/home/pulau-hoga.jpg">
          <div class="content">
              <div class="title">
                  Wakatobi
              </div>
          </div>
      </div>
      <div class="item">
          <img src="/static/home/pulau_labengki.jpg">
          <div class="content">
              <div class="title">
                  Labengki
              </div>
          </div>
      </div>
      <div class="item">
          <img src="/static/home/Rawa-aopa-2.jpg">
          <div class="content">
              <div class="title">
                  Aopa
              </div>
          </div>
      </div>
      <div class="item">
          <img src="/static/home/benteng-keraton-buton.jpg">
          <div class="content">
              <div class="title">
                  Keraton
              </div>
          </div>
      </div>
  </div>

  <!-- Tombol next prev -->
  <div class="arrows">
      <button id="prev"><</button>
              <button id="next">></button>
  </div>
  <!-- time running -->
  <div class="time"></div>
</div>
<!--CAROUSEL END-->
{% endblock %}



