{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block page_title %}
    LOG IN
{% endblock %}

{% block content %}
<form action="/login" method="post" class="mx-auto w-auto">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
{% endblock %}
