{% extends "layout.html" %}

{% block title %}
Wakatobi Dive
{% endblock %}

{% block page_title %}
Wakatobi Dive
{% endblock %}

{% block carousel %}
<!-- CAROUSEL START -->
<div class="carousel">
    <!-- List gambar -->
    <div class="list">
        <div class="item">
            <img src="/static/lokasi1/wakatobi dive.jpg">
        </div>
        <div class="item">
            <img src="/static/lokasi1/wakatobi-ikan.jpeg">
        </div>
        <div class="item">
            <img src="/static/lokasi1/wakatobi-dive-resort.jpeg">
        </div>
        <div class="item">
            <img src="/static/lokasi1/Discover-Wakatobi.mp4.251.Still001_snorkelventure.com.jpg">
        </div>
    </div>

    <!-- list thumnail -->
    <div class="thumbnail">
        <div class="item">
            <img src="/static/lokasi1/wakatobi dive.jpg">
            <div class="content">
                <div class="title">

                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/lokasi1/wakatobi-ikan.jpeg">
            <div class="content">
                <div class="title">

                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/lokasi1/wakatobi-dive-resort.jpeg">
            <div class="content">
                <div class="title">

                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/lokasi1/Discover-Wakatobi.mp4.251.Still001_snorkelventure.com.jpg">
            <div class="content">
                <div class="title">

                </div>
            </div>
        </div>
    </div>

    <!-- Tombol next prev -->
    <div class="arrows">
        <button id="prev"><</button>
                <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>
<!--CAROUSEL END-->
{% endblock %}

{% block like_dislike %}
<!-- Like and Dislike Form -->
<div class="like-dislike-container">
    <div class="like-dislike-box">
        <p class="text-like">Bagaimana, keren?</p>
        <div class="icon-box">
            <div class="like-box">
                <span id="like-counter">0</span>
                <img src="/static/check_selected_foreground.png" id="like-btn">
            </div>
            <div class="dislike-box">
                <span id="dislike-counter">0</span>
                <img src="/static/check_selected_foreground.png" id="dislike-btn">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block narasi %}
<div class="narasi">
    <h3 class="judul">Tentang Wakatobi Dive</h3>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti iste impedit
        accusantium itaque aperiam, quidem non sequi, atque provident voluptatibus quis vero. Ipsa, aspernatur nobis.
        Eveniet doloribus aut nam?
        Ratione, similique necessitatibus! Fugiat nihil sed nostrum optio harum laborum neque possimus quas accusamus!
        Incidunt deleniti quisquam nesciunt aspernatur labore maiores aperiam dolore illo? Quaerat modi quod asperiores
        ea dolorum?
        Quae neque iusto inventore, commodi quaerat similique maxime explicabo, expedita et obcaecati libero? Placeat
        doloremque atque magni nemo quam? Voluptate, tempore doloribus. Quibusdam ullam doloremque, delectus distinctio
        accusamus maiores ipsum?
        Aut sit nemo assumenda suscipit error, necessitatibus mollitia eos ducimus doloribus eum ratione deleniti cumque
        cupiditate natus enim eligendi, debitis culpa aperiam est voluptatum excepturi totam soluta veritatis nulla.
        Molestiae.
        Eaque non quam error, accusamus nisi tempore praesentium quasi iste atque neque asperiores repellat fugit.
        Maxime quos aliquam eveniet? Architecto veritatis voluptates deleniti eveniet eaque, aut laboriosam assumenda
        commodi numquam.</p>
</div>
{% endblock %}


<!-- komment dan rating-->
{% block map_and_comments %}
<div id="map_comment_container">
    <div id="map-container">
        <h3 id="judulmap">Temukan lokasinya di map ini</h3>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.9550910349967!2d123.89342848829799!3d-5.776154058395358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2da7049a28fb6f33%3A0xdaa4c0bafdf8cf0!2sWakatobi%20Dive%20Resort!5e1!3m2!1sid!2sid!4v1708792748102!5m2!1sid!2sid"
            width="600" height="500" style="border:solid;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div id="comment-section">
        <h2>Komentar dan Rating</h2>
        <form id="comment-form" action="/lokasi1" method="post">
            <div>
                <label for="comment">Komentar:</label><br>
                <textarea id="comment" name="comment" placeholder="Komentar" rows="4" cols="30"></textarea>
            </div>
            <div>
                <label for="rating">Rating:</label><br>
                <input type="number" id="rating" name="rating" min="1" max="5">
            </div>
            <div>
                <button id="kirim" type="submit">Kirim</button>
            </div>
        </form>
        <!-- Tampilkan komentar Pengunjung -->
        <div id="comment-table">
            <table class="table table-striped table-hover table-warning">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Komentar</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                    <tr>
                        <td>{{ review.username }}</td>
                        <td>{{ review.comment }}</td>
                        <td>{{ review.rating }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}